*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: #231C1A;
    color: #CFBDAF;
    letter-spacing: 2px;
    line-height: 1.5;
}
h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.oreo-img{
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5px;
}
.caption{
    max-width: 600px;
    display: block;
    align-items: center;
    margin: auto;
}
.recipe-all{
    margin: 2rem 0 20px 50px;
}
footer{
    border-top: #CFBDAF solid 1px;
}